.entries-section--container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  border-top: 2px dashed var(--color-granite);
}

.entry-list__item {
  list-style: none;
}

.entries-button {
  background-color: transparent;
  color: var(--color-granite);
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5rem 0 0 1rem;
}

.active-tab {
  color: var(--color-nemo);
}
