.toast {
  position: fixed;
  bottom: 80px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  padding: 5px;
  background-color: var(--color-background-secondary);
  border: 2px solid var(--color-accent);
  color: var(--color-primary);
  border-radius: 3px;
  transition: transform 1s cubic-bezier(0.17, 0.67, 0.79, 1.52);
}

.toast-hidden {
  transform: translateX(150%);
}
