footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
  color: var(--color-secondary);
  height: 3rem;
}
