* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Used for texts (+ footer background) */
  --color-granite: #252629;
  /* Used for backgrounds (+ footer text color) */
  --color-foam: #ffffff;
  /* Used for buttons, icons, etc. */
  --color-nemo: #ff4a11;
  /* active color for buttons, icons, etc. */
  --color-nemo-mid: #ff5c29;
  /* hover color for buttons, icons, etc. */
  --color-nemo-dark: #e5430f;
  /* Used for borders and some backgrounds */
  --color-water-10: #e4e8f0;

  --color-primary: #202020;
  --color-secondary: #404040;
  --color-accent: #ff4a11;
  --color-hover: #e5430f;
  --color-border-input: #707070;
  --color-background-secondary: #e4e8f0;
  --color-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Used for texts (+ footer background) */
    --color-granite: #252629;
    /* Used for backgrounds (+ footer text color) */
    --color-foam: #ffffff;
    /* Used for buttons, icons, etc. */
    --color-nemo: #ff4a11;
    /* active color for buttons, icons, etc. */
    --color-nemo-mid: #ff5c29;
    /* hover color for buttons, icons, etc. */
    --color-nemo-dark: #e5430f;
    /* Used for borders and some backgrounds */
    --color-water-10: #e4e8f0;

    --color-primary: #ffffff;
    --color-secondary: #e4e8f0;
    --color-accent: #ff4a11;
    --color-hover: #e5430f;
    --color-border-input: #707070;
    --color-background-secondary: #404040;
    --color-background: #202020;
  }
}
