* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #202020;
  --color-secondary: #404040;
  --color-accent: #ff4a11;
  --color-hover: #e5430f;
  --color-border-input: #707070;
  --color-background-secondary: #e4e8f0;
  --color-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #e4e8f0;
    --color-accent: #ff4a11;
    --color-hover: #e5430f;
    --color-border-input: #707070;
    --color-background-secondary: #404040;
    --color-background: #202020;
  }
}
